@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-3 md:px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-darkGreen/40 hover:text-darkGreen/40;
  }

  .contactInput {
    @apply outline-none bg-slate-400/20 rounded-lg border-b-2 px-6 py-3 md:py-4 text-gray-500 placeholder-gray-600 transition-all
           focus:border-darkGreen focus:text-darkGreen focus:ring-2 focus:ring-darkGreen/30 focus:ring-offset-2
           hover:border-darkGreen/40;
  }
}
.backface-hidden {
  backface-visibility: hidden;
}
